html,
body {
    height: 100%;
    width: 100%;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fbc194;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    flex: 1 0 auto;
    width: 100%;
}

.footer {
    flex-shrink: 0;
    height: 400px;
    background-image: url("rustnl-footer.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 1000px;
    }

    section {
        width: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    section {
        width: 100%;
    }
}

section {
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 5px;
}

section.about {
    flex: 1;
}

section.info {}

img.logo {
    margin-top: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
}